<!-- templates/products/list.html -->
<table class="min-w-full">
  <thead>
    <tr class="bg-gray-100">
      <th class="p-2 text-left">Product</th>
      <th class="p-2 text-left">Total Stock</th>
      <th class="p-2 text-left">ID</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr class="border-b hover:bg-gray-50">
      <td class="p-2">
        <a hx-get="{% url 'show_product_name' product.id %}"
           hx-target="#click-output"
           class="text-blue-600 hover:underline cursor-pointer">
          {{ product.name }}
        </a>
        <div id="variants-{{ product.id }}"></div>
      </td>
      <td class="p-2">{{ product.get_total_stock }}</td>
      <td class="p-2">{{ product.id}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="click-output" class="mt-8 p-4 border-t"></div></div>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
